#######################################
# BACKEND BLUE DEPLOYMENT
#######################################
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-blue
  labels:
    app: backend
    version: blue
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
      version: blue
  template:
    metadata:
      labels:
        app: backend
        version: blue
    spec:
      containers:
      - name: backend
        image: aneesuk123/backend:blue
        command: ["node", "server.js"]   # IMPORTANT FIX
        ports:
          - containerPort: 3000
        env:
          - name: DB_HOST
            value: "mysql"
          - name: DB_USER
            value: "root"
          - name: DB_PASSWORD
            value: "rootpassword"
          - name: DB_NAME
            value: "studentsdb"
        readinessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 30
          periodSeconds: 20

---
#######################################
# BACKEND GREEN DEPLOYMENT
#######################################
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-green
  labels:
    app: backend
    version: green
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
      version: green
  template:
    metadata:
      labels:
        app: backend
        version: green
    spec:
      containers:
      - name: backend
        image: aneesuk123/backend:green
        command: ["node", "server.js"]   
        ports:
          - containerPort: 3000
        env:
          - name: DB_HOST
            value: "mysql"
          - name: DB_USER
            value: "root"
          - name: DB_PASSWORD
            value: "rootpassword"
          - name: DB_NAME
            value: "studentsdb"
        readinessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 30
          periodSeconds: 20
