apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
    version: blue   # Start with BLUE version
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
  type: ClusterIP
#aSS