apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  selector:
    app: frontend
    version: blue   # start with BLUE
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
  type: LoadBalancer
