apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-blue
  labels:
    app: frontend
    version: blue
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
      version: blue
  template:
    metadata:
      labels:
        app: frontend
        version: blue
    spec:
      containers:
      - name: frontend
        image: aneesuk123/frontend:blue
        imagePullPolicy: Always
        command: ["php"]
        args: ["-S", "0.0.0.0:80", "-t", "/app"]
        ports:
        - containerPort: 80
        
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-green
  labels:
    app: frontend
    version: green
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
      version: green
  template:
    metadata:
      labels:
        app: frontend
        version: green
    spec:
      containers:
      - name: frontend
        image: aneesuk123/frontend:green
        imagePullPolicy: Always
        command: ["php"]
        args: ["-S", "0.0.0.0:80", "-t", "/app"]
        ports:
        - containerPort: 80
