name: Backend CI

on:
  push:
    branches:
      - dev-frontend
      - dev-backend
      - main
    paths:
      - "backend/**"
      - ".github/workflows/**"
  pull_request:
    paths:
      - "backend/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to ACR
        uses: docker/login-action@v3
        with:
          registry: studentappacr.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build backend image
        run: |
          docker build -t studentappacr.azurecr.io/backend:${{ github.sha }} ./backend

      - name: Push backend image
        run: |
          docker push studentappacr.azurecr.io/backend:${{ github.sha }}

      - name: Scan image with Trivy
        uses: aquasecurity/trivy-action@v0
        with:
          image-ref: studentappacr.azurecr.io/backend:${{ github.sha }}
